*{
    margin: 0;
    padding: 0;
}
.hatter{
    height: 100vh;
    width: 100%;
    background:  url(hatter.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    margin: 0 auto;
    width: 90%;
    height: 70%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.oszlop{
    margin: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    overflow: hidden;
}
.oszlop .felso{
    width: 100%;
    height: 55%;
    background: #2c3e50;
    display: flex;
    justify-content:center;
    align-items: center;
}
.oszlop .also{
    width: 100%;
    height: 35%;
    background: #bdc3c7;
    display: flex;
    justify-content:center;
    align-items: center;

}
.oszlop .elvalaszto{
    width: 100%;
    height: 10%;
    background: white;
    display: flex;
    justify-content: center ;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Combo', cursive;
}
.oszlop .felso img{
    width: 60%;
}
.oszlop .also p{
    width: 80%;
    height: auto;
}
footer{
    background: linear-gradient();
    height: 100vh;
    width: 100%;
    position: relative;
}
.hatterf{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(73, 73, 73, 0.7),rgba(53, 53, 53, 0.8)), url(hatter.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}